@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
.main {
  width: 100%;
height: auto;
}

video {
  width: 100%;
  object-fit: cover;
  height: 100%;


}




@media only screen and (min-width: 320px) and (max-width: 440px) {
video{
  height: 100%;
}
}
@media only screen and (min-width: 440px) and (max-width: 540px) {

  .content {
    position: absolute;
    width: 100%;
    top: 97.4em;
  }
  .content h1, h2{

    font-size: 6.5em;
    margin-left: 0.2em;
  
  }

}
@media only screen and (min-width: 540px) and (max-width: 640px){
  .content {
    position: absolute;
    width: 100%;
    top: 87.6em;
  }
  .content h1, h2{

    font-size: 7.9em;
    margin-left: 0.2em;
  
  }

}
@media only screen and (min-width: 640px) and (max-width: 740px) {
  .content {
    position: absolute;
    width: 100%;
    top: 88.1em;
  }
  .content h1, h2{
    font-size: 9.9em;
    margin-left: 0.2em;
  
  }
}
@media only screen and (min-width: 740px) and (max-width: 767px) {
  .content {
    position: absolute;
    width: 100%;
    top: 93.3em;
  }
  .content h1, h2{
    font-size: 10.9em;
    margin-left: 0.2em;
  
  }
}
@media only screen and (min-width: 767px) and (max-width: 800px){
  .content {
    position: absolute;
    width: 100%;
    top: 76.4em;
  }
  .content h1, h2{
    font-size: 10.9em;
    margin-left: 0.2em;
  
  }
}
@media only screen and (min-width: 800px) and (max-width: 940px) {
  .content {
    position: absolute;
    width: 100%;
    top: 58.5em;
  }
  .content h1, h2{
    font-size: 10em;
    margin-left: 0.2em;
  
  }
}
@media only screen and (min-width: 840px) and (max-width: 940px) {
 
  .content {
    position: absolute;
    width: 100%;
    top: 68.7em;
  }
  .content h1, h2{
    font-size: 10em;
    margin-left: 0.2em;
  
  }
}
@media only screen and (min-width: 940px) and (max-width: 1000px){
  .content {
    position: absolute;
    width: 100%;
    top: 76.9em;
  }
  .content h1, h2{
    font-size: 10em;
    margin-left: 0.2em;
  
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px){
  .content {
    position: absolute;
    width: 100%;
    top: 77.2em;
  }
  .content h1, h2{
    font-size: 10em;
    margin-left: 0.2em;
  
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px){
  .content {
    position: absolute;
    width: 100%;
    top: 77.6em;
  }
  .content h1, h2{
    font-size: 10em;
    margin-left: 0.2em;
  
  }
}
