
.common__section {
  background: linear-gradient(#1e1e1e00, #02424478),
  url("https://firebasestorage.googleapis.com/v0/b/thewinterbreack.appspot.com/o/barra2.jpg?alt=media&token=49765745-5936-41c5-a02f-f4b71926c4d4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 130px 0px;
  width: 100%;
}

