@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.nav{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
 
}
.logo{
    width: 6em;
}
.links-nav{
 display: flex;
 justify-content: center;
 align-items: center;
position: relative;
top: 0.5em;
 width: 100%;
}
.nav-comofunciona{
    margin-right: 2em;
}

.nav-sobrenosotros{
    margin-left: 2em;
}

.nav-faq{  margin-left: 5em;}