.footer {
  background: #141313;
}
.contenedor-footer{
  display: flex;
  
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.footer__logo{
  overflow: hidden;
  display: flex;
 flex-direction: column;
  width: 100%;
  align-items: center;
}
.footer__logo img{
  width: 15em;
}
.footer__logo h2 {
  color: rgb(223, 222, 222);
}
.footer__logo h6{
  color: rgb(197, 195, 195);
}


.footer__pedidos{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 3%;
}
.footer__pedidos h5{
  color: rgb(255, 255, 255);
}
.footer__pedidos p{
  color: rgb(138, 138, 138);
}


.footer__contacto{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.intagram-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__contacto h5{
  color: rgb(255, 255, 255);
} 
.intagram-footer svg{
  margin-bottom: 1em;
  margin-right: 0.5em;
  color: rgb(255, 255, 255);
}
.footer__contacto p{
  color: rgb(160, 158, 158);
}
.footer__contacto h6{
  color: rgb(138, 138, 138);
}






@media only screen and (min-width: 320px) and (max-width: 400px) {
  .contenedor-footer{
    flex-wrap: wrap;
 
  }

}

@media only screen and (min-width: 400px) and (max-width: 500px) {
  .contenedor-footer{
    flex-wrap: wrap;
 
  }

}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  .contenedor-footer{
    flex-wrap: wrap;
 
  }

}
