

.contendor-carrusel{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
height: 30em;
background-color: #fff;

}


.contendor-carrusel-imagenes{
    width: 30%;
}


@media only screen and (min-width: 320px) and (max-width: 440px) {

.contendor-carrusel{
    height: 30em;
    }  
    .contendor-carrusel-imagenes{
        width: 95%;
    }
}
@media only screen and (min-width: 440px) and (max-width: 540px) {

.contendor-carrusel{
    height: 50em;
    }  
    .contendor-carrusel-imagenes{
        width: 95%;
    }
}
@media only screen and (min-width: 540px) and (max-width: 640px){
.contendor-carrusel{
    height: 50em;
    }  
    .contendor-carrusel-imagenes{
        width: 95%;
    }
}
@media only screen and (min-width: 640px) and (max-width: 740px) {
.contendor-carrusel{
    height: 50em;
    }  
    .contendor-carrusel-imagenes{
        width: 95%;
    }
}
@media only screen and (min-width: 740px) and (max-width: 767px) {

.contendor-carrusel{
    height: 50em;
    }  
    .contendor-carrusel-imagenes{
        width: 95%;
    }
}
@media only screen and (min-width: 767px) and (max-width: 800px){
.contendor-carrusel{
    height: 50em;
    }  
    .contendor-carrusel-imagenes{
        width: 95%;
    }
}
@media only screen and (min-width: 800px) and (max-width: 940px) {
.contendor-carrusel{
    height: 50em;
    }  
    .contendor-carrusel-imagenes{
        width: 75%;
    }
}

  