.contenedor-dos-genero{
  background-color: #fff;
}
.contenido-dos-genero{
  background-color: #fff;
  display: flex;
  width: 100%;
  height: 10em;
}

.contenido-dos-genero img{
width: 32em;
height: 37em;
position: relative;
bottom: 20em;
-moz-transform: rotate(-10deg);
-o-transform: rotate(-10deg);
-webkit-transform: rotate(-10deg);
transform: rotate(-4deg);
}

.contenido-dos-genero h4{
  width: 80%;
  font-size: 2.5em;
  margin-bottom: 1em;
  }
  .contenido-dos-genero p{
    width: 80%;
  }
  .texto-genero{
    font-size: 1em;
    width: 50%;
    text-align: justify;
   position: relative;
   left: 9em;
  }
.contenido-dos-genero-comntenido{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 3em;
}
.curva-balance{
height: 10em;
width: 100%;
background-color: rgb(3, 3, 3);
border-color:1 rgb(0, 0, 0);
}

.faq{
  height: 59em;
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  text-align: center;
  justify-content: space-around;
}

.faq h4{

color: #fff;
font-size: 4em;

}



@media only screen and (min-width: 320px) and (max-width: 440px) {
  .contenido-dos-genero{
  flex-direction: column;
    width: 100%;
    height: 40em;
  }
  .contenido-dos-genero img{
  width: 95%;
    height: 37em;
    position: relative;
    bottom: 13em;
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-3<deg);
  }
  .contenido-dos-genero-comntenido{
    justify-content: center;
    align-items: center;
    position: relative;
  bottom: 10em;
  }
  .texto-genero{
    font-size: 1em;
    width: 80%;
    text-align: justify;
   position: relative;
   left: -0em;
  }
  .contenido-dos-genero h4{
    font-size: 2.2em;
  }
  .faq{
    height: 100%;
  }
  .faq h4{
font-size: 1.7em;
margin-top: 2em;
position: relative;
bottom: 1em;
  }
}
@media only screen and (min-width: 440px) and (max-width: 540px) {
  .contenido-dos-genero{
    flex-direction: column;
      width: 100%;
      height: 40em;
    }
    .contenido-dos-genero img{
    width: 95%;
      height: 37em;
      position: relative;
      bottom: 13em;
      -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      transform: rotate(-3<deg);
    }
    .contenido-dos-genero-comntenido{
      justify-content: center;
      align-items: center;
      position: relative;
    bottom: 10em;
    }
    .texto-genero{
      font-size: 1em;
      width: 80%;
      text-align: justify;
     position: relative;
     left: -0em;
    }
    .contenido-dos-genero h4{
      font-size: 2.5em;
    }
    .faq{
      height: 100%;
    }
    .faq h4{
  font-size: 1.7em;
  margin-top: 2em;
  position: relative;
  bottom: 1em;
    }
}
@media only screen and (min-width: 540px) and (max-width: 640px){
  .contenido-dos-genero{
    flex-direction: column;
      width: 100%;
      height: 45em;
    }
    .contenido-dos-genero img{
    width: 95%;
      height: 37em;
      position: relative;
      bottom: 13em;
      -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      transform: rotate(-3<deg);
    }
    .contenido-dos-genero-comntenido{
      justify-content: center;
      align-items: center;
      position: relative;
    bottom: 10em;
    }
    .texto-genero{
      font-size: 1em;
      width: 80%;
      text-align: justify;
     position: relative;
     left: -0em;
    }
    .contenido-dos-genero h4{
      font-size: 3em;
    }
    .faq{
      height: 100%;
    }
    .faq h4{
  font-size: 2.5em;
  margin-top: 2em;
  position: relative;
  bottom: 1.5em;
    }
}
@media only screen and (min-width: 640px) and (max-width: 740px) {
  .contenido-dos-genero{
    flex-direction: column;
      width: 100%;
      height: 45em;
    }
    .contenido-dos-genero img{
    width: 85%;
      height: 37em;
      position: relative;
      bottom: 13em;
      -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      transform: rotate(-3<deg);
    }
    .contenido-dos-genero-comntenido{
      justify-content: center;
      align-items: center;
      position: relative;
    bottom: 10em;
    }
    .texto-genero{
      font-size: 1em;
      width: 80%;
      text-align: justify;
     position: relative;
     left: -0em;
    }
    .contenido-dos-genero h4{
      font-size: 3.5em;
    }
    .faq{
      height: 100%;
      background-color: black;
    }
    .faq h4{
  font-size: 2.5em;
  margin-top: 2em;
  position: relative;
  bottom: 1.5em;
    }
}
@media only screen and (min-width: 740px) and (max-width: 767px) {
  .contenido-dos-genero{
    flex-direction: column;
      width: 100%;
      height: 45em;
    }
    .contenido-dos-genero img{
    width: 89%;
      height: 37em;
      position: relative;
      bottom: 13em;
      -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      transform: rotate(-3<deg);
    }
    .contenido-dos-genero-comntenido{
      justify-content: center;
      align-items: center;
      position: relative;
    bottom: 10em;
    }
    .texto-genero{
      font-size: 1em;
      width: 80%;
      text-align: justify;
     position: relative;
     left: -0em;
    }
    .contenido-dos-genero h4{
      font-size: 4em;
    }
    .faq{
      height: 100%;
    }
    .faq h4{
  font-size: 2.5em;
  margin-top: 2em;
  position: relative;
  bottom: 1.5em;
    }
    .faq{
      height: 100%;
      background-color: black;
    }
    .faq h4{
  font-size: 2.5em;
  margin-top: 2em;
  position: relative;
  bottom: 1.5em;
    }
}
@media only screen and (min-width: 767px) and (max-width: 800px){
  .contenido-dos-genero{
    flex-direction: column;
      width: 100%;
      height: 45em;
    }
    .contenido-dos-genero img{
    width: 89%;
      height: 37em;
      position: relative;
      bottom: 13em;
      -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      transform: rotate(-3<deg);
    }
    .contenido-dos-genero-comntenido{
      justify-content: center;
      align-items: center;
      position: relative;
    bottom: 10em;
    }
    .texto-genero{
      font-size: 1em;
      width: 80%;
      text-align: justify;
     position: relative;
     left: -0em;
    }
    .contenido-dos-genero h4{
      font-size: 4em;
    }
    .faq{
      height: 100%;
      background-color: black;
    }
    .faq h4{
  font-size: 2.5em;
  margin-top: 2em;
  position: relative;
  bottom: 1.5em;
    }
}
@media only screen and (min-width: 800px) and (max-width: 940px) {
  .contenido-dos-genero{
      width: 100%;
      height: 25em;
    }
    .contenido-dos-genero img{
    width: 65%;
      height: 37em;
      position: relative;
      bottom: 10em;
      -moz-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      transform: rotate(-8<deg);
    }
    .contenido-dos-genero-comntenido{
      justify-content: center;
      align-items: center;
      position: relative;
    bottom: -0em;
    }
    .texto-genero{
      font-size: 1em;
      width: 80%;
      text-align: justify;
     position: relative;
     left: -0em;
    }
    .contenido-dos-genero h4{
      font-size: 3em;
    }
    .faq{
      height: 100%;
      background-color: black;
    }
    .faq h4{
  font-size: 3em;
  margin-top: 2em;
  position: relative;
  bottom: 1.5em;
    }
}
@media only screen and (min-width: 840px) and (max-width: 940px) {
  .contenido-dos-genero{
    width: 100%;
    height: 25em;
  }
  .contenido-dos-genero img{
  width: 65%;
    height: 37em;
    position: relative;
    bottom: 10em;
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-8<deg);
  }
  .contenido-dos-genero-comntenido{
    justify-content: center;
    align-items: center;
    position: relative;
  bottom: -0em;
  }
  .texto-genero{
    font-size: 1em;
    width: 80%;
    text-align: justify;
   position: relative;
   left: -0em;
  }
  .contenido-dos-genero h4{
    font-size: 3em;
  }
  .faq{
    height: 100%;
    background-color: black;
  }
  .faq h4{
font-size: 3em;
margin-top: 2em;
position: relative;
bottom: 1.5em;
  }
  
}
@media only screen and (min-width: 940px) and (max-width: 1000px){
  .contenido-dos-genero{
    width: 100%;
    height: 25em;
  }
  .contenido-dos-genero img{
  width: 65%;
    height: 37em;
    position: relative;
    bottom: 10em;
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-8<deg);
  }
  .contenido-dos-genero-comntenido{
    justify-content: center;
    align-items: center;
    position: relative;
  bottom: -0em;
  }
  .texto-genero{
    font-size: 1em;
    width: 80%;
    text-align: justify;
   position: relative;
   left: -0em;
  }
  .contenido-dos-genero h4{
    font-size: 3em;
  }
  .faq{
    height: 100%;
    background-color: black;
  }
  .faq h4{
font-size: 3em;
margin-top: 2em;
position: relative;
bottom: 1.5em;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1100px){
  .contenido-dos-genero{
    width: 100%;
    height: 25em;
  }
  .contenido-dos-genero img{
  width: 65%;
    height: 37em;
    position: relative;
    bottom: 10em;
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-8<deg);
  }
  .contenido-dos-genero-comntenido{
    justify-content: center;
    align-items: center;
    position: relative;
  bottom: -0em;
  }
  .texto-genero{
    font-size: 1em;
    width: 80%;
    text-align: justify;
   position: relative;
   left: -0em;
  }
  .contenido-dos-genero h4{
    font-size: 3em;
  }
  .faq{
    height: 100%;
    background-color: black;
  }
  .faq h4{
font-size: 3em;
margin-top: 2em;
position: relative;
bottom: 1.5em;
  }
}
@media only screen and (min-width: 1100px) and (max-width: 1200px){
  .contenido-dos-genero{
    width: 100%;
    height: 25em;
  }
  .contenido-dos-genero img{
  width: 65%;
    height: 37em;
    position: relative;
    bottom: 10em;
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-8<deg);
  }
  .contenido-dos-genero-comntenido{
    justify-content: center;
    align-items: center;
    position: relative;
  bottom: -0em;
  }
  .texto-genero{
    font-size: 1em;
    width: 80%;
    text-align: justify;
   position: relative;
   left: -0em;
  }
  .contenido-dos-genero h4{
    font-size: 3em;
  }
  .faq{
    height: 100%;
    background-color: black;
  }
  .faq h4{
font-size: 3em;
margin-top: 2em;
position: relative;
bottom: 1.5em;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1300px){
  .faq{
    height: 100%;
    background-color: black;
  }
  .faq h4{
font-size: 3em;
margin-top: 2em;
position: relative;
bottom: 1.5em;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px){
  .faq{
    height: 100%;
    background-color: black;
  }
  .faq h4{
font-size: 3em;
margin-top: 2em;
position: relative;
bottom: 1.5em;
  }
}