figure.snip1224 {
 
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 400px;
  max-width: 480px;
  width: 100%;
  background: #2d2d2bcf;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1224 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1224 .image {
  background-color: #000000;
  width: 50%;
  overflow: hidden;
  float: right;
}
figure.snip1224 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1224 figcaption {
  position: absolute;
  width: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: 0;
  padding: 10px 35px;
}
figure.snip1224 h4,
figure.snip1224 p,
figure.snip1224 .price {
  margin: 0 0 8px;
}
figure.snip1224 h4 {
  position: absolute;
  width: 50%;
  top:0px;
  right: 0;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.85);
}
figure.snip1224 p {
  font-size: 0.7em;
  font-weight: 500;
  line-height: 1.6em;
}
figure.snip1224 .rating {
  position: absolute;
  width: 50%;
  line-height: 44px;
  color: #ffffff;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  height: 14%;
  line-height: 44px;
  font-size: 0.75em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

}
figure.snip1224 .price {
  color: #ffffff;
  font-size: 1.3em;
  opacity: 0.8;
}
figure.snip1224 .price s {
  display: inline-block;
  padding: 0 8px 0 0;
  font-size: 0.85em;
  color: #f39c12;
}
figure.snip1224 .add-to-cart {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.85);
  line-height: 44px;
  font-size: 0.75em;
  text-transform: uppercase;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
  height: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure.snip1224:hover img,
figure.snip1224.hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1224:hover .add-to-cart,
figure.snip1224.hover .add-to-cart {
  background-color: rgba(0, 0, 0, 0.5);
}
.tipos-actividades{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-start;
  position: relative;
  bottom: 1.5em;
}

@media only screen and (min-width: 320px) and (max-width: 440px) {
  figure.snip1224 {
 
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 200px;
    max-width: 330px;
    width: 100%;
    background: #2d2d2bcf;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
}
@media only screen and (min-width: 440px) and (max-width: 540px) {
  figure.snip1224 {
 
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 200px;
    max-width: 330px;
    width: 100%;
    background: #2d2d2bcf;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
}
@media only screen and (min-width: 540px) and (max-width: 640px){

}
@media only screen and (min-width: 640px) and (max-width: 740px) {

}
@media only screen and (min-width: 740px) and (max-width: 740px) {

}
@media only screen and (min-width: 740px) and (max-width: 840px){

}
@media only screen and (min-width: 840px) and (max-width: 940px) {

}
@media only screen and (min-width: 940px) and (max-width: 1040px) {

}
@media only screen and (min-width: 1040px) and (max-width: 1140px){

}
@media only screen and (min-width: 100px) and (max-width: 200px){
 
}
@media only screen and (min-width: 1100px) and (max-width: 1200px){
 
}
