.preciototal{
    color:rgb(2, 49, 46);
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
}

.formulario-datos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario-carga{
    background-color: rgba(215, 215, 215, 0.279);
   width: 50%;
    height: 25em;
    border-radius: 2%;
    margin-top: 1em ;
}
.formulario-carga h2{
    position: relative;
    top: 1.5em;
    color:rgb(2, 49, 46);
    font-family: 'Lato', sans-serif;
}


.seguir-comprando-form{
    margin-right:2%;
}


.img-carrito-logo{
    width:20%;
}
.containerButton{
    display:flex;
   justify-content: center;
   margin-top: 1em;
}


#enviarOrden{
    display:none;

}
.enviar-orden{
    position: relative;
    left: 1em;
}

.alertaConfirmacion{
    width: 100%;
    font-size: 0.7em;
    margin-top: 1em;
    color:rgb(2, 49, 46);
    font-family: 'Lato', sans-serif;
}
.generarOrden{
    margin-top: 1em;
}
.carrito-vacio{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 40em;
background-color: #fff; 
}
.carrito-vacio h2{
    height: 20%;
    font-size: 4em;
}
.carrito-vacio p{
    height: 20%;
    font-size: 2em;
}
.carrito-vacio button{
    background-color: rgba(0, 0, 0, 0.593);
    font-size: 2em;
}
.span-icon{
 position: relative;
 bottom: 0.1em;
}

@media only screen and (min-width: 320px) and (max-width: 440px) {
    .carrito-vacio{
        height: 40em;
    }
    .carrito-vacio h2{
        height: 30%;
        font-size: 2.7em;
        width: 90%;
        text-align: center;
    }
  }
  @media only screen and (min-width: 440px) and (max-width: 540px){
    .carrito-vacio{
        height: 40em;
    }
    .carrito-vacio h2{
        height: 30%;
        font-size: 2.7em;
        width: 90%;
        text-align: center;
    }
  }
  @media only screen and (min-width: 540px) and (max-width: 640px) {
    .carrito-vacio{
        height: 40em;
    }
    .carrito-vacio h2{
        height: 25%;
        font-size: 2.7em;
        width: 90%;
        text-align: center;
    }
  }
  @media only screen and (min-width: 640px) and (max-width: 740px) {
    .carrito-vacio{
        height: 40em;
    }
    .carrito-vacio h2{
        height: 20%;
        font-size: 2.7em;
        width: 90%;
        text-align: center;
    }
  }
  @media only screen and (min-width: 740px) and (max-width: 840px){
    .carrito-vacio{
        height: 40em;
    }
    .carrito-vacio h2{
        height: 20%;
        font-size: 3em;
        width: 90%;
        text-align: center;
    }
  }
  @media only screen and (min-width: 800px) and (max-width: 940px) {
   
  }
  @media only screen and (min-width: 840px) and (max-width: 940px) {
   
  }
  @media only screen and (min-width: 940px) and (max-width: 100px){
    
  }
  @media only screen and (min-width: 100px) and (max-width: 200px){
    
  }
  @media only screen and (min-width: 1100px) and (max-width: 1200px){
  
  }
